[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
m3u8 = "*"
requests = "*"
pycryptodome = "*"
selenium = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
